body {
  padding-top: 70px;
  text-indent: 10px;
  text-size-adjust: auto;
  background: linear-gradient(#3119b8e6,  #3824a7e6);
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
}
