
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Outfit-Regular.ttf') format('ttf');
}
body {
  width: 144rem;
}
.home {
  display: flex;
  flex-direction: column;
  background: linear-gradient(22.5deg, #010922 70%,#8080d7);
  width: 100%;
  align-items: center;

  .navigation-bar {
    width: 100%;
    height: 7.4rem;
    display: flex;
    align-items: center;
    background-color: #000411;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.3rem 11.5rem 1.6rem 7.5rem;

    .academia-logo-text {
      font-weight: 800;
      text-transform: uppercase;
      color: #ffffff;
      font-family: Outfit, 'Source Sans Pro';
      margin: 0.1rem 2.2rem 0rem 0rem;
      font-size: 2rem;
      line-height: 1.375;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .logo-button {
      display: flex;
      justify-content: center;
      background-color: #8080d7;
      white-space: nowrap;
      font-size: 1.4rem;
      line-height: 1.9642857143;
      text-transform: uppercase;
      color: #ffffff;
      font-family: Outfit, 'Source Sans Pro';
      align-items: center;
      flex-shrink: 0;
      margin-right: 20.9rem;
      font-weight: 800;
      width: 12.1rem;
      border-radius: 5rem;
      height: 100%;
    }
    .navbar-frame {
      margin-bottom: 0.7rem;
      display: flex;
      column-gap: 9.3rem;
      align-items: center;
      flex-shrink: 0;

      .link {
        color: #ffffff;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.375;
        transition: .2s;
      }
      .link:hover{
        color: #8080d7;
      }
    }
  }
  .hero-group {
    box-sizing: border-box;
    padding: 5rem 6.2rem 26.3rem 15.7rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .hero-section {
      width: 108.7rem;
      flex-shrink: 0;
      margin: 0rem 7.2rem 18.4rem 0rem;

      .auto-group-j9jc-n9z {
        margin-bottom: 8.2rem;
        width: 100%;
        height: 39.7rem;
        display: flex;
        align-items: center;

        .hero-text {
          margin: 2.3rem 4.7rem 2.9rem 0rem;
          height: calc(100% - 5.2rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .motto {
            margin-bottom: 3rem;
            max-width: 49.2rem;
            font-size: 6.5rem;
            font-weight: 700;
            line-height: 1;
            color: #ffffff;
            font-family: Outfit, 'Source Sans Pro';
            flex-shrink: 0;


            .emphasis {
              font-family: Outfit, 'Source Sans Pro';
              font-size: 6.5rem;
              font-weight: 700;
              line-height: 1;
              color: #fce4ec;
            }

          }
          .sub-motto {
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.9rem;
            max-width: 27.2rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.375;
            color: #ffffff;
          }
        }
        .auto-group-tgnp-kK6 {
          width: 54.8rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .discord-channel {
            padding: 0.43rem 0.93rem 0.43rem 0.93rem;
            left: 30.3rem;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 18.1rem;
            height: 3.1rem;
            position: absolute;
            top: 4.9rem;
            background-color: #2a2d30;

            .discord-channel-bac {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;

              .frame-M3z {
                height: calc(100% - 1.68rem);
                background-color: #f2f3f5;
                border-radius: 0 0.28rem 0.28rem 0;
                flex-shrink: 0;
                margin: 0.84rem 0.28rem 0.84rem 0rem;
                width: 0.28rem;
              }
              .auto-layout-horizontal-RpY {
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.42rem 0.56rem 0.42rem 0.56rem;
                width: 15.68rem;
                height: 100%;
                overflow: hidden;
                position: relative;
                border-radius: 0.28rem;

                .auto-layout-horizontal-8U4 {
                  box-sizing: border-box;
                  padding-left: 0.1222rem;
                  width: 13.72rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .frame-sAk {
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 0.537rem 0.058rem 0rem;
                    width: 1.1611rem;
                    height: 1.1083rem;
                  }
                  .frame-BSL {
                    flex-shrink: 0;
                    padding: 0 0.03rem;
                    height: 100%;
                    display: flex;
                    line-height: 1.3333333333;
                    font-weight: 500;
                    color: #f2f3f5;
                    white-space: nowrap;
                    box-sizing: border-box;
                    overflow: hidden;
                    position: relative;
                    font-size: 1.05rem;
                    width: 11.9rem;
                    font-family: Noto Sans, 'Source Sans Pro';
                  }
                }
              }
            }
          }
          .hero-art {
            width: 49.5rem;
            height: 39.7rem;
            position: absolute;
            left: 0;
            top: 0;

            .hero-art-books {
              left: 6.1rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
              width: 43.4rem;
              height: 39rem;
              position: absolute;
            }
            .resources {
              background-color: rgba(243, 252, 255, 0.8000000119);
              padding: 0rem 5.6rem 0rem 0.9rem;
              width: 36.3rem;
              height: 8.8rem;
              left: 4.5rem;
              top: 30.9rem;
              display: flex;
              align-items: center;
              border-radius: 2rem;
              box-sizing: border-box;
              position: absolute;

              .book-library {
                width: 9.4rem;
                height: 8.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.4rem 0.1rem 0rem;
              }
              .hero-art-text-1 {
                font-size: 2rem;
                font-weight: 400;
                line-height: 1.375;
                color: #000000;
                font-family: Outfit, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-top: 0.4rem;
              }
            }
            .latest-update {
              background-color: #8080d7;
              border-radius: 2rem;
              position: absolute;
              display: flex;
              width: 36.3rem;
              height: 8.8rem;
              left: 0;
              top: 16.6rem;
              align-items: center;
              box-sizing: border-box;
              padding: 1.2rem 8.1rem 1.2rem 1.6rem;

              .latest-update-img-container {
                flex-shrink: 0;
                margin-right: 2.4rem;
                height: 100%;

                .latest-updates-art {
                  width: 7.5rem;
                  height: 6.4rem;
                  object-fit: cover;
                  vertical-align: top;
                }
              }
              .hero-art-text-2 {
                color: #ffffff;
                font-family: Outfit, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.6rem;
                font-size: 2rem;
                font-weight: 700;
                line-height: 1.375;
              }
            }
          }
          .discord-channel-5rU {
            box-sizing: border-box;
            padding: 0.43rem 0.93rem 0.43rem 0.93rem;
            width: 18.1rem;
            height: 3.1rem;
            left: 36.7rem;
            top: 9.1rem;
            border-radius: 0.5rem;
            position: absolute;
            background-color: #2a2d30;

            .discord-channel-PcG {
              align-items: center;
              width: 100%;
              height: 100%;
              display: flex;

              .frame-wtg {
                margin: 0.84rem 0.28rem 0.84rem 0rem;
                width: 0.28rem;
                height: calc(100% - 1.68rem);
                background-color: #f2f3f5;
                border-radius: 0 0.28rem 0.28rem 0;
                flex-shrink: 0;
              }
              .auto-layout-horizontal-Ts2 {
                height: 100%;
                overflow: hidden;
                position: relative;
                border-radius: 0.28rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.42rem 0.56rem 0.42rem 0.56rem;
                width: 15.68rem;

                .auto-layout-horizontal-PVn {
                  display: flex;
                  align-items: center;
                  box-sizing: border-box;
                  padding-left: 0.1222rem;
                  width: 13.72rem;
                  height: 100%;

                  .frame-inx {
                    width: 1.1611rem;
                    height: 1.1083rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 0.537rem 0.058rem 0rem;
                  }
                  .frame-rPN {
                    flex-shrink: 0;
                    font-size: 1.05rem;
                    color: #f2f3f5;
                    font-family: Noto Sans, 'Source Sans Pro';
                    box-sizing: border-box;
                    width: 11.9rem;
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    font-weight: 500;
                    line-height: 1.3333333333;
                    white-space: nowrap;
                    padding: 0 0.03rem;
                    display: flex;
                  }
                }
              }
            }
          }
        }
      }
      .hero-button {
        margin-right: 42.7rem;
        width: calc(100% - 42.7rem);
        height: 7.4rem;
        display: flex;
        align-items: center;
        border-radius: 6rem;

        .filled-hero-button {
          font-family: Outfit, 'Source Sans Pro';
          align-items: center;
          background-color: #8080d7;
          height: 100%;
          letter-spacing: 0.04rem;
          display: flex;
          border-radius: 6rem;
          width: 31.2rem;
          font-size: 2rem;
          line-height: 1.375;
          white-space: nowrap;
          justify-content: center;
          flex-shrink: 0;
          margin-right: 3.6rem;
          font-weight: 600;
          color: #ffffff;
          transition: .2s;
         }
         .filled-hero-button:hover {
          background-color: #ffffff;
          color: #8080d7;
         }
        .unfilled-hero-button {
          font-weight: 600;
          letter-spacing: 0.04rem;
          align-items: center;
          box-sizing: border-box;
          height: 100%;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          border-radius: 6rem;
          font-size: 2rem;
          line-height: 1.375;
          color: #ffffff;
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.2rem #ffffff;
          width: 31.2rem;
        }
      }
    }
    .analytics-section {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 12.5rem 16.1rem 3.1rem;
      width: calc(100% - 15.6rem);
      height: 20.7rem;
      display: flex;

      .analytics-container {
        width: 34.8rem;
        height: 100%;
        flex-shrink: 0;

        .analytics-cYt {
          font-family: Outfit, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 4.6rem;
          font-size: 2rem;
          line-height: 1.375;
          color: #ffffff;
          font-weight: 600;
          letter-spacing: 0.06rem;
          text-transform: uppercase;
        }
        .analytics-member-Xfr {
          padding: 0rem 7.568rem 0rem 0.955rem;
          width: 100%;
          height: 13.3rem;
          display: flex;
          align-items: center;
          background-color: #9a8cb2;
          border-radius: 2rem;
          box-sizing: border-box;

          .object-other-20-T3i {
            margin: 0rem 3.002rem 0.1rem 0rem;
            flex-shrink: 0;

            .object-other-20-au2 {
              width: 13.3741rem;
              height: 13.2rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .text-K5v {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 2.1rem 0rem 0.9rem 0rem;
            height: calc(100% - 3rem);
            align-items: center;

            .item-30-3Xi {
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 0.556rem;
              font-size: 6.5rem;
              font-weight: 700;
              line-height: 1;
              color: #ffffff;
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
            }
            .members-xeg {
              white-space: nowrap;
              font-size: 2rem;
              letter-spacing: 0.06rem;
              text-transform: uppercase;
              color: #ffffff;
              font-weight: 600;
              line-height: 1.375;
              font-family: Outfit, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-hcrp-Es6 {
        box-sizing: border-box;
        padding: 7.4rem 0rem 0rem 1.2rem;
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .analytics-notes-aAG {
          background-color: #e6c6c9;
          flex-shrink: 0;
          padding: 0.1rem 4.917rem 0rem 2.273rem;
          display: flex;
          height: 100%;
          align-items: center;
          border-radius: 2rem;
          margin-right: 1.9rem;
          box-sizing: border-box;

          .object-other-09-6PW {
            margin-right: 1.6047rem;
            height: 100%;
            flex-shrink: 0;

            .object-other-09-TE4 {
              width: 13.1051rem;
              height: 13.2rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .text-PNc {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 2rem 0rem 0.9rem 0rem;
            height: calc(100% - 2.9rem);

            .item-6-v7e {
              color: #ffffff;
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 1.204rem;
              font-size: 6.5rem;
              font-weight: 700;
              line-height: 1;
            }
            .subject-notes-Eu2 {
              font-size: 1.5rem;
              font-weight: 600;
              line-height: 1.8333333333;
              letter-spacing: 0.045rem;
              font-family: Outfit, 'Source Sans Pro';
              text-transform: uppercase;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .analytics-experience-8zQ {
          align-items: center;
          background-color: #e2cd89;
          border-radius: 2rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.9rem 7.265rem 0.9rem 0.3rem;
          height: 100%;
          display: flex;

          .award-fUY {
            margin-right: 1.3059rem;
            width: 12.6rem;
            height: 11.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .text-CjN {
            flex-shrink: 0;
            margin-top: 1.2rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;

            .item-1-wS4 {
              font-size: 6.5rem;
              font-family: Outfit, 'Source Sans Pro';
              align-items: baseline;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-weight: 700;
              line-height: 1;
              color: #ffffff;
              white-space: nowrap;
              display: flex;

              .item-1-wS4-sub-0 {
              }
              .item-1-wS4-sub-1 {
                font-size: 1.7rem;
                font-weight: 600;
                line-height: 1.6176470588;
                letter-spacing: 0.051rem;
                text-transform: uppercase;
                color: #ffffff;
                font-family: Outfit, 'Source Sans Pro';
              }
            }
            .experience-H8Y {
              text-transform: uppercase;
              color: #ffffff;
              font-family: Outfit, 'Source Sans Pro';
              margin-right: 0.3294rem;
              font-size: 2rem;
              font-weight: 600;
              letter-spacing: 0.06rem;
              line-height: 1.375;
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .mission-statement-a7e {
      margin: 0rem 12.8rem 10.7rem 2.1rem;
      width: calc(100% - 14.9rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .left-side-JJY {
        height: 43.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.3rem;
        width: 54.9rem;
      }
      .right-side-3G8 {
        flex-shrink: 0;
        margin-top: 2.3rem;
        display: flex;
        flex-direction: column;
        border-radius: 6rem;

        .mission-statement-text-Pat {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0rem 3.3rem 0.7rem;

          .mission-statement-KzL {
            font-weight: 700;
            color: #ffffff;
            font-family: Outfit, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.4rem;
            line-height: 1.1458333333;
            letter-spacing: 0.072rem;
            text-transform: uppercase;
            font-size: 2.4rem;
          }
          .empowering-minds-fostering-collaboration-and-revolutionizing-education-academia-is-more-than-a-platform-its-a-dynamic-community-where-knowledge-meets-innovation-creating-a-space-where-students-thrive-connect-and-shape-their-academic-journey-collaboratively-Fd6 {
            margin-left: 0.4rem;
            color: #ffffff;
            font-family: Outfit, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 49.9rem;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: 0.09rem;
          }
        }
        .mission-statement--pZi {
          height: 7.4rem;
          font-family: Outfit, 'Source Sans Pro';
          justify-content: center;
          font-size: 2rem;
          letter-spacing: 0.06rem;
          background-color: #8080d7;
          width: 48rem;
          font-weight: 600;
          line-height: 1.375;
          text-transform: uppercase;
          color: #ffffff;
          border-radius: 6rem;
          display: flex;
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
        }
      }
    }
    .about-us-UeG {
      margin-bottom: 7.1rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .right-side-py2 {
        flex-shrink: 0;
        margin: 2rem 1.1rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        border-radius: 6rem;

        .mission-statement-text-9kQ {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0rem 3.3rem 0.7rem;

          .about-us-Hrc {
            color: #ffffff;
            font-family: Outfit, 'Source Sans Pro';
            margin-bottom: 3.4rem;
            font-size: 2.4rem;
            font-weight: 700;
            letter-spacing: 0.072rem;
            line-height: 1.1458333333;
            text-transform: uppercase;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .empowering-minds-fostering-collaboration-and-revolutionizing-education-academia-is-more-than-a-platform-its-a-dynamic-community-where-knowledge-meets-innovation-creating-a-space-where-students-thrive-connect-and-shape-their-academic-journey-collaboratively-opx {
            max-width: 49.9rem;
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: 0.09rem;
            font-family: Outfit, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 0.4rem;
            font-size: 3rem;
            color: #ffffff;
          }
        }
        .mission-statement--2Bv {
          height: 7.4rem;
          letter-spacing: 0.06rem;
          flex-shrink: 0;
          font-weight: 600;
          color: #ffffff;
          font-family: Outfit, 'Source Sans Pro';
          width: 48rem;
          font-size: 2rem;
          text-transform: uppercase;
          align-items: center;
          justify-content: center;
          border-radius: 6rem;
          display: flex;
          line-height: 1.375;
          white-space: nowrap;
          background-color: #8080d7;
        }
      }
      .left-side-JQL {
        height: 55rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 70rem;
      }
    }
    .services-container-EYt {
      align-items: center;
      display: flex;
      flex-direction: column;
      background: linear-gradient(101.6deg, #0f2a80 14.98%, #87b2fd 97.8%);
      border-radius: 2rem;
      margin-right: 9.4rem;
      box-sizing: border-box;
      padding: 1.9rem 1.4rem 1.4rem 1.3rem;
      width: 106.5rem;
      flex-shrink: 0;

      .services-offered-9Qx {
        font-family: Outfit, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0rem 5.4rem 3rem;
        display: flex;
        justify-content: center;
        line-height: 1.375;
        text-transform: uppercase;
        white-space: nowrap;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 0.06rem;
        color: #ffffff;
      }
      .services-offered-qYg {
        width: 100%;
        display: flex;
        column-gap: 2.1rem;
        align-items: flex-end;
        border-radius: 4rem;
        flex-shrink: 0;

        .help-zAg {
          box-sizing: border-box;
          padding: 1.6rem 1.2rem 10.3rem 1.2rem;
          position: relative;
          background-color: #ebf2ff;
          border-radius: 4rem;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 33.2rem;
          overflow: hidden;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-2zta-6jW {
            margin: 0rem 1.8rem 1rem 0rem;
            width: 29rem;
            height: 10.9rem;
            position: relative;
            flex-shrink: 0;

            .image-4-2NG {
              width: 11.8rem;
              height: 10.9rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .doubt-dash-ZNC {
              height: 3rem;
              left: 11.6rem;
              line-height: 0.9375;
              color: #000000;
              width: 17.4rem;
              position: absolute;
              top: 2.2rem;
              font-size: 3.2rem;
              font-weight: 700;
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-w492-4pk {
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 4rem 0rem 1.8rem;
            width: calc(100% - 5.8rem);
            display: flex;

            .auto-group-ozon-Ps2 {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.5rem 1rem 0rem 0rem;
              width: 1rem;

              .rectangle-3-83v {
                margin-bottom: 6rem;
                width: 100%;
                height: 1rem;
                background-color: #789bdb;
                flex-shrink: 0;
              }
              .rectangle-4-4yA {
                width: 100%;
                height: 1rem;
                background-color: #789bdb;
                flex-shrink: 0;
              }
            }
            .rapid-homework-assistance-get-quick-and-accurate-solutions-to-your-homework-queries-instant-doubt-resolution-clear-your-doubts-promptly-with-our-responsive-support-RYp {
              max-width: 23rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.25;
              color: rgba(39, 81, 159, 0.8999999762);
              font-family: Mukta, 'Source Sans Pro';
              flex-shrink: 0;
            }
          }
        }
        .knowledge-nexus-ewN {
          overflow: hidden;
          flex-direction: column;
          background-color: #fff0cb;
          box-sizing: border-box;
          padding: 2.2rem 1.2rem 6.3rem 1.2rem;
          width: 33.2rem;
          position: relative;
          align-items: center;
          display: flex;
          border-radius: 4rem;
          flex-shrink: 0;

          .auto-group-cbyg-aKE {
            height: 9.9rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 3.5rem 1.4rem 0rem;
            width: calc(100% - 3.5rem);

            .auto-group-n9zn-uMW {
              flex-shrink: 0;
              margin-right: 0.7rem;
              box-sizing: border-box;
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:37663f8fc2d528ad689c464e9efad0fbf14b63ca');
              padding: 3.2rem 3.2rem 4.2rem 3.7rem;
              height: 100%;
              background-size: 100% 100%;

              .ellipse-52-2S8 {
                width: 3.1rem;
                height: 2.5rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .knowledge-nexus-jrL {
              color: #000000;
              font-family: Outfit, 'Source Sans Pro';
              flex-shrink: 0;
              margin-top: 0.3rem;
              max-width: 16.6rem;
              font-size: 3.2rem;
              font-weight: 700;
              line-height: 0.9375;
            }
          }
          .auto-group-bjbn-4di {
            margin: 0rem 2rem 0rem 1.8rem;
            width: calc(100% - 3.8rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .auto-group-lrdj-CV2 {
              margin: 0.5rem 1rem 0rem 0rem;
              width: 1rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rectangle-3-jUx {
                width: 100%;
                height: 1rem;
                background-color: #d7ae49;
                flex-shrink: 0;
                margin-bottom: 9rem;
              }
              .rectangle-5-HmN {
                width: 100%;
                height: 1rem;
                background-color: #d7ae49;
                flex-shrink: 0;
              }
            }
            .comprehensive-notes-resources-access-well-organized-notes-and-resources-for-a-deeper-understanding-chapter-timelines-for-effective-learning-stay-on-track-with-timelines-that-guide-your-learning-journey-Egc {
              color: #a48539;
              font-family: Mukta, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 25rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.25;
            }
          }
        }
        .info-insight-38G {
          display: flex;
          background-color: #fce4ec;
          border-radius: 4rem;
          flex-shrink: 0;
          width: 33.2rem;
          position: relative;
          align-items: center;
          flex-direction: column;
          box-sizing: border-box;
          padding: 2.7rem 1.4rem 9.3rem 1.4rem;
          overflow: hidden;

          .auto-group-vqu2-ACt {
            margin: 0rem 4.4rem 3rem 0rem;
            width: calc(100% - 4.4rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .image-16-teg {
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
              width: 9.4rem;
              height: 8.8rem;
            }
            .info-insight-dcG {
              color: #000000;
              font-family: Outfit, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 2rem;
              font-size: 3.2rem;
              font-weight: 700;
              line-height: 0.9375;
            }
          }
          .auto-group-zvsn-LWg {
            margin: 0rem 1.5rem 0rem 1.6rem;
            width: calc(100% - 3.1rem);
            height: 12rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-avqg-TrC {
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.5rem 1rem 0.5rem 0rem;
              width: 1rem;
              height: calc(100% - 1rem);
              align-items: center;
              display: flex;

              .rectangle-3-zLL {
                margin-bottom: 9rem;
                width: 100%;
                height: 1rem;
                background-color: #ff95b8;
                flex-shrink: 0;
              }
              .rectangle-5-joi {
                width: 100%;
                height: 1rem;
                background-color: #ff95b8;
                flex-shrink: 0;
              }
            }
            .stay-updated-with-latest-channels-receive-timely-updates-from-various-educational-channels-curated-educational-content-explore-handpicked-content-to-enhance-your-knowledge-base-VH6 {
              flex-shrink: 0;
              max-width: 25.3rem;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.25;
              color: #bd6e88;
              font-family: Mukta, 'Source Sans Pro';
            }
          }
        }
      }
    }
  }
  .footer-Sbe {
    background: linear-gradient(180deg, #0b2370 -0%, #b17af9 100%);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-radius: 3rem 3rem 0 0;
    flex-shrink: 0;
    padding: 2.9rem 62.4rem 2.9rem 4.7rem;
    height: 22rem;

    .academia-y5n {
      font-weight: 700;
      line-height: 1;
      color: #ffffff;
      font-family: Outfit, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.8rem;
      font-size: 6.5rem;
    }
    .button-i3N {
      height: 5rem;
      color: #ffffff;
      display: flex;
      border-radius: 5rem;
      font-weight: 700;
      white-space: nowrap;
      align-items: center;
      background-color: #8080d7;
      flex-shrink: 0;
      width: 42.5rem;
      font-size: 2.4rem;
      font-family: Outfit, 'Source Sans Pro';
      margin-top: 1.5rem;
      line-height: 1.1458333333;
      letter-spacing: 0.072rem;
      text-transform: uppercase;
      justify-content: center;
    }
  }
}
